*{
    margin: 0;
}

html{
    height: 150%;
    background-color: orange;
}

.welcome{
    box-sizing: border-box;
    padding-top: 75px;
    text-align: center;
    background-color: grey;
    color: white;
}

nav{
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 1;
    top:0;
    left:0;
    background-color: dimgrey;
    box-sizing: border-box;
    padding: 20px 8px;
}

h1{
    margin-bottom: 16px;
}

a{
    color: white;
    text-decoration: none;
    margin-right:20px;
}

.text{
    box-sizing: border-box;
    padding-top: 85px;
    background-color: grey;
    margin-left: 10px;
    margin-right:10px;
    margin-bottom:20px;

}
.text2,.text3{
    box-sizing: border-box;
    padding-top:15px;
    background-color: grey;
    margin-left: 10px;
    margin-right:10px;
    margin-bottom:20px;
}

.pic1{
    box-sizing: border-box;
    padding-top:85px;
    background-color: grey;

}

.pic2{
    padding-top:85px;
    box-sizing: border-box;
    position: absolute;
    top:0px;
    left:200px;
}

.pic3{
    padding-top:85px;
    box-sizing: border-box;
    position: absolute;
    top:0px;
    left:400px;
}

.pic4{
    padding-top:85px;
    box-sizing: border-box;
    position: absolute;
    top:0px;
    left:600px;

}
